<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="test_sqlserver" connectionString="Data Source=.;Initial Catalog=testDB;UID=test;PWD=123456;enlist=false;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>
		<add name="test_mysql" connectionString="server=localhost;port=3306;database=testDB;uid=root;password=;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySqlConnector.MySqlConnectorFactory, MySqlConnector, Version=2.0.0.0, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92"/>
		</DbProviderFactories>
	</system.data>
</configuration>