<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="test_sqlserver" connectionString="Data Source=.;Initial Catalog=testDB;UID=test;PWD=123456;enlist=false;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>
		<add name="test_mysql" connectionString="server=localhost;port=3306;database=testDB;uid=root;password=;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>